@use 'variables' as *;

@mixin a() {
    text-decoration: none;
    display: block;
    padding: $small-font-size;
    color: $info;

    &:hover {
        background: $secondary;
    }
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
    margin: 0; 
    background: $primary;

    a {
        @include a();
    }

    img {
        width: 30px;
        height: 30px;
    }
  }
  
  @media all and (max-width: $max-width) {
    .navigation {
      justify-content: space-around;
    }

    .navigation-side {
        display: none;
      }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;

      a {
        text-align: center; 
        padding: $base-padding;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      }

      li {
        &:last-of-type a {
            border-bottom: none;
        }
      }
    }
    #logo {
      margin-right: 0;
      align-self: center;
    }
  }

  .navigation-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $info;
    margin: 0; 
    background: $primary;

    a {
        @include a();
    }
  }
